<p id="notice"><%= notice %></p>

<h1>Stills</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Phone</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @stills.each do |still| %>
      <tr>
        <td><%= still.name %></td>
        <td><%= still.email %></td>
        <td><%= still.phone %></td>
        <td><%= link_to 'Show', still %></td>
        <td><%= link_to 'Edit', edit_still_path(still) %></td>
        <td><%= link_to 'Destroy', still, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Still', new_still_path %>
